
<h2>All Articles:</h2>


<table>
<tr>
	<th>Title</th>
	<th>Description</th>
	<th>Comment</th>
</tr>
<% @articles.each do |article|%>
	<tr>
		<td> <%= article.title %> </td>
		<td> <%= article.blurb %> </td>
		<td> <%= link_to "Comment", new_comment_path %> </td>
	</tr>
<%end%>
</table>

<%= link_to "Add Article", new_article_path %>


