<h1>Hacker news</h1>
<table>
	<tr>
	<th>Articles</th>
	</tr>
	<% @articles.each do |article| %>
		<tr>
		<td><%= link_to 'Up vote' %>
		<td><%= link_to article.title, article.url, target: '_blank' %></td>
		</tr>
		<tr>
		<td><%= link_to 'comments', article_path(article) %></td>
		</tr>

	<% end %>
</table>

<%= link_to 'Add article', new_article_path %>