<h3><%= link_to 'Submit a Link', new_post_path %></h3>


<h2>All Posts</h2>
<% @posts.each do |post| %>
	<article>
		<h3><%= link_to post.title, post.link %></h3>
		<ul style="list-style: none; margin: 0;">
			<li><%= post.description %></li>
			<li><%= link_to "Comments", post_comments_path(post, @comment) %></li>
		</ul>
	</article>
<% end %>

