@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

ul {
	padding: 0;
	list-style-type: none;
}

body {

}

table {
	background: whitesmoke;
	width: 100%;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

th, td {
	padding: 0 10px;
	vertical-align: center;
}

tr.pad-bottom > td {
	padding-bottom: 20px;
}

nav {
	background: orange;
	padding: 10px 20px;
	margin-top: 10px;
}

nav ul li {
	display: inline-block;
	padding: 0 5px;
}

.short-cell {
	width: 5%;
}

.inline {
	display: inline-block;
}

.float-right {
	float: right;
}

.pad-bottom {
	padding-bottom: 20px;
}

.nested {
	margin-left: 20px;
}

.sub-line {
	font-size: 80%;
	color: gray;
}

#flash-section {
	min-height: 50px;
}

.comment-section {
	margin-bottom: 30px;
}

.margin-bottom {
	margin-bottom: 50px;
}

.title-line a, .title-line a:visited, .title-line a:hover, {
	color: black;
	font-weight: bold;
	font-size: 110%;
	text-decoration: none;
}
