/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

.title a:visited {
	color: #828282;
	text-decoration: none;
}

#logged_in {
	color: green;
}

body {
 	font-family: Verdana;
 	font-size: 10pt;
 }

table {
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

.subtext {
	font-family: Verdana;
	font-size: 7pt;
	color: #828282;
}

.votearrow {
	width: 10px;
	height: 10px;
	border: 0px;
	margin: 3px 2px 6px;
	background: url("grayarrow.gif") no-repeat;
}


