<h1>New Vote</h1>

<%= button_to( "up_vote", {:action => "up_vote", :controller => "votes", :votable_id => params["article_id"], :votable_type => params["votable"].capitalize}, method: :post  ) %>

<%= button_to( "down_vote", {:action => "down_vote", :controller => "votes", :votable_id => params["article_id"], :votable_type => params["votable"].capitalize }, method: :post  ) %>
