<h1>New Vote</h1>

<%= button_to( "up_vote", {:action => "up_vote", :controller => "votes"}, method: :post  ) %>

<%= button_to( "down_vote", {:action => "down_vote", :controller => "votes"}, method: :post  ) %>
